doctype html
html
  head
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    link(rel="stylesheet" type="text/css" href="/css/query.css")
    link
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet")
    title Omnifoods| #{title}
  body
    include nav
    block content 
    include footer
  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js")
  script(src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous")
  script(src="https://js.stripe.com/v3/")
  script(src="./js/script.js")
  script(src="./js/frontend.js")





